*
{
    outline: 0;
}

body
{
    margin: 0px;
    padding: 0px;

    background-color: #2e3436;
}

a
{
    text-decoration: none;
    color: #94c4d3;
}

a:hover
{
    text-decoration: underline;
}

code
{
    background-color: #4d4d4d;
    margin-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

/*----------------------------------------*/

.letra
{
    font-family: 'hack', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #d3d7cf;

    text-shadow: 0 0 1px #2e3436;

    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 4px;
}

.colorRosa
{
    color: #949ace;
}

.colorVerde
{
    color: #99dd92;
}

.colorRojo
{
    color: #e29191;
}

.colorAmarillo
{
    color: #dfe592;
}

#inicio
{
    width: auto;
    height: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

.offsetParaElInicio
{
    height: 20px;

    margin-left: 10px;
    margin-right: 10px;
}

.fecha
{
    margin-top: 0px;
    margin-bottom: 40px;

    padding: 0;

    text-align: right;
    font-size: 12px;
}

.separadorGrande
{
    margin-top: 60px;

    width: auto;
    height: 20px;

    background-color: #949ace;
}

.separadorChico
{
    margin-top: 40px;
    margin-bottom: 40px;

    width: auto;
    height: 2px;

    background-color: #626689;
}

.imagenesGlad
{
    width: 80%;
    height: auto;
}
.imagenCarpetas
{
    width: 60%;
    height: auto;
}

.separarPieDePagina
{
    height: 180px;
}

.enlaceSubir
{
    text-align: right;
}

.pieDePagina
{
    width: auto;
    height: 180px;

    background-color: #949ace;

    margin-bottom: 4px;
}

.centrarCopyright
{
    text-align: center;
}

/*----------------------------------------*/

@font-face {
    font-family: hack;
    src: url(HackRegular.ttf);
}

/* el ancho: va de 0 a 900, si es mas grande que 900 -no- se usa*/
@media screen and (max-width: 900px)
{
    .imagenesGlad
    {
        width: 100%;
        height: auto;
    }
    .imagenCarpetas
    {
        width: 100%;
        height: auto;
    }
}

/* el ancho: va de 1024 en aumento, si es mas chico que 1024 -no- se usa */
@media screen and (min-width: 1024px)
{
    .imagenesGlad
    {
        width: 40rem;
        height: auto;
    }
    .imagenCarpetas
    {
        width: 40rem;
        height: auto;
    }
}


